
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{{_sections.title}}} | Starter Template</title>
        <!-- app style -->
        <link href="/css/app.min.css" rel="stylesheet">
    </head>
    <script src = "/socket.io/socket.io.js"></script>
   
    <script>
        var socket = io();
    </script>
  <body>
    
    {{> header }}

    {{{body}}}

    {{> newsletter_subscribe }}

    {{> footer }}

    <!-- app script -->
    <script src="/js/app.min.js"></script>

    <script>
        {{{_sections.activeClass}}}
    </script>
  </body>
</html>
