{{#section 'title'}}
    Services
{{/section}}

{{#section 'activeClass'}}
    $('.services').addClass('active');
{{/section}}

<div class="title-bar">
    <div class="container">
        <h1>Services</h1>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">What We Do</h4>
                    </div>
                    <div class="panel-body">
                        <div class="well">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis leo quis faucibus suscipit. Fusce imperdiet nisi tellus, ac sagittis elit lacinia at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean volutpat odio massa, sit amet iaculis nibh faucibus ac. Sed ut volutpat velit, id condimentum augue. Integer dapibus eleifend massa. Sed et imperdiet risus. Suspendisse tincidunt, nisl eu mollis feugiat, quam dui bibendum ante, ut sollicitudin sem sem vel lorem.</p>
                        </div>
                        <div class="well">
                            <h4>Web Development</h4>
                            <p>Nam tincidunt augue nec sollicitudin accumsan. Nulla quis sem id neque ornare vestibulum eu id purus. Integer vitae purus venenatis, volutpat purus eu, ultrices elit. Suspendisse potenti. Sed facilisis tempor augue, eu mollis magna placerat ut. Vivamus tristique, nisi id tempor feugiat, odio nisi lacinia nulla, vel porttitor elit tellus eu metus. Nam convallis lorem eget nisl luctus, sed porta odio mattis. Nam hendrerit aliquet eros, euismod porttitor arcu efficitur ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        </div>
                        <div class="well">
                            <h4>SEO</h4>
                            <p>Quisque sagittis nulla sed erat sagittis semper. Mauris suscipit velit eget eros semper commodo eget vitae magna. Aliquam tincidunt eget nibh ut imperdiet. Nullam vestibulum in nulla ut pellentesque. Cras pharetra sem tortor. Curabitur feugiat, neque in dapibus tristique, neque nulla mollis quam, sit amet rutrum felis tortor eu purus. Etiam iaculis sapien porttitor, blandit ante eget, ullamcorper elit. Ut tincidunt, neque eget rhoncus aliquet, lorem quam vestibulum sem, vel ultrices quam libero sit amet nisi. Vivamus venenatis, purus ut tempus maximus, velit ante condimentum velit, et mattis orci tortor a lacus.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                {{> sidepanel }}
            </div>
        </div>
    </div>
</div>