<div class="list-group">
    <a href="#" class="list-group-item active text-center">Starter Template</a> 

    <a href="/" class="list-group-item home">Home</a>
    <a href="/about" class="list-group-item about">About</a> 
    <a href="/services" class="list-group-item services">Services</a> 
    <a href="/contact" class="list-group-item contact">Contact</a>
</div>